@import './common';

html {
    overflow: scroll;
    overflow-x: hidden;
}

@media (max-width: $bp-small) {
    html {
        font-size: 0.7rem;
    }
}

body {
    background: $white;
    color: $black;
    font-family: $sansfont;
}

// Main [MAIN] -----------------------------------------------------------------

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 150px;

    a {
        font-weight: 700;
        text-decoration: none;
        color: inherit;
        font-style: italic;
    }
}
