@import './common';

.card {
    width: calc(25vw - 35px);
    min-height: 10rem;
    padding: 1rem;
    border: 1px solid $lgrey;
    border-radius: 2px;
    margin: 10px;
    background: $white;
    box-shadow: 6px 6px 15px rgba(0, 0, 0, 0.03),
                2px 4px 4px rgba(0, 0, 0,0.05),
                0 0  10px rgba(0, 0, 0, 0.05) ;
    visibility: hidden;
    opacity: 0;
    transform: translateY(100px);
    transition: opacity 0.5s linear, transform 0.3s ease-in-out
}

.card--visible {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
}

.card__date {
    color: $grey;
    font-size: 0.8rem;
    text-transform: uppercase;
}

.card__secret {
    margin-top: 10px;
    font-family: $seriffont;
    font-size: 1.1rem;
    line-height: 1.5;
}
