@import "./common";

.card {
  font-size: 1.5rem;
  min-height: 5rem;
  padding: 1rem;
  border: 1px solid $lgrey;
  border-radius: 2px;
  background: $white;
  box-shadow: 6px 6px 15px rgba(0, 0, 0, 0.03), 2px 4px 4px rgba(0, 0, 0, 0.05),
    0 0 10px rgba(0, 0, 0, 0.05);
  animation: slide-in;
  animation-duration: 0.3s;
  width: 90%;
  margin: 30px auto;
}

@media (min-width: $bp-medium) {
  .card {
    font-size: 1.3rem;
    width: 50%;
  }
}

@keyframes slide-in {
  from {
    opacity: 0;
    transform: translateY(100px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.card__header {
  font-size: 0.8em;
  color: $grey;
  display: flex;
  justify-content: space-between;
}

.card__date {
  text-transform: uppercase;
}

.card__secret {
  margin-top: 10px;
  font-family: $seriffont;
  font-size: 1em;
  line-height: 1.5;
}

@media (min-width: $bp-small) {
  .card__secret {
    font-size: 0.9em;
  }
}

.card__like {
  width: 1em;
  filter: grayscale(1);
  opacity: 0.7;
  transition: all 0.3s linear;
  cursor: pointer;
  margin: 0 10px 0 10px;
  position: relative;
  top: 3px;
}

.liked {
  opacity: 1;
  filter: grayscale(0);
  animation: bounce;
  animation-duration: 0.2s;
}

@keyframes bounce {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}
