$white: #fafafa;
$black: #444;
$lblack: #555;
$grey: #888;
$lgrey: hsla(0, 0, 60, 0.3);
$sansfont: "Nunito", sans-serif;
$seriffont: "Libre Baskerville", serif;

$bp-small: 580px;
$bp-medium: 900px;
$bp-wide: 1200px;
