@import "common";

.shareform {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  width: 30em;
}

.shareform__textarea {
  background: inherit;
  border: 1px solid $grey;
  border-radius: 4px;
  box-sizing: border-box;
  color: $black;
  font-family: $sansfont;
  font-size: 1.3rem;
  height: 300px;
  padding: 10px;
  resize: none;
  transition: border 0.2s linear;
  width: 100%;
}

.shareform__textarea:focus {
  border: 2px solid $black;
  outline: none;
}

.shareform__button {
  -webkit-appearance: none;
  font-family: $sansfont;
  margin: 10px 0 10px 10px;
  padding: 6px;
  font-size: 1.3rem;
  width: 5em;
  border: none;
  border-radius: 4px;
  outline: none;
  transition: all 0.1s linear;
  &:hover {
    cursor: pointer;
    background-color: $lgrey;
    color: $black;
  }
  &:active {
    transform: translateY(2px);
  }
}
.shareform__submit {
  background: $black;
  color: $white;
}

.shareform__clear {
  background: $grey;
  color: $white;
}

.shareform__success {
  align-items: center;
  color: inherit;
  display: flex;
  font-size: 1.3rem;
  justify-content: center;
  min-height: 7em;
}

.shareform__success-icon {
  animation-duration: 0.3s;
  animation-name: grow;
  margin: 30px;
}

@keyframes grow {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
