@import 'common.scss';

.shareform {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 30em;
}

.shareform__textarea {
    font-size: 1.3rem;
    padding: 10px;
    box-sizing: border-box;
    resize: none;
    width: 100%;
    height: 300px;
    background: inherit;
    border: 1px solid $grey;
    border-radius: 4px;
    transition: border 0.2s linear;
    font-family: $sansfont;
    color: $black

}
.shareform__textarea:focus {
    border: 2px solid $black;
    outline: none;
}

.shareform__button {
    font-family: $sansfont;
    margin: 10px 0 10px 10px;
    padding: 6px;
    font-size: 1.3rem;
    width: 5em;
    border: none;
    border-radius: 4px;
    outline: none;
    transition: all 0.1s linear;
    &:hover {
        cursor: pointer;
        background-color: $lgrey;
        color: $black;
    }
    &:active {
        transform: translateY(2px);
    }
}
.shareform__submit {
    background: $black;
    color: $white;
}

.shareform__clear {
    background: $grey;
    color: $white;
}

.shareform__success {
    font-size: 1.3rem;
    color: inherit;
    min-height: 7em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.shareform__success-icon {
    margin: 10px;
    animation-duration: 0.3s;
    animation-name: grow;
}

@keyframes grow {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}
